<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.DistributorMapper">
    <select id="getDistributorList" resultType="entity.Distributor">
    select * from mdong4.Distributor
  </select>
<!--    get my information-->
    <select id="getDistributor" resultType="entity.Distributor">
        select * from mdong4.Distributor where distributorID=#{ID}
    </select>
<!--    get all publication-->
    <select id="getPublicationList" resultType="integer">
        select ID from mdong4.Publication
    </select>

</mapper>